<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.eclipse.ui.Examples/model4datactrack.examples"
            class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard"
            id="model4datactrack.examples.wizard"
            name="M4DCT Examples"
            project="true">
      </wizard>
      <category
            id="model4datactrack.examples"
            name="M4DCT Examples"
            parentCategory="org.eclipse.ui.Examples">
      </category>
   </extension>
   <extension
         point="org.eclipse.emf.common.ui.examples">
      <example
            id="model4datactrack.examples.baseM4DCTModel"
            wizardID="model4datactrack.examples.wizard">
         <projectDescriptor
               contentURI="baseM4DCTModel/"
               name="baseM4DCTModel">
         </projectDescriptor>
         <fileToOpen
               location="pathmap://baseM4DCTModel/baseM4DCTModel.di">
         </fileToOpen>
      </example>
   </extension>

</plugin>
